<aside class="orbital-sidebar">
    <div class="sidebar-header">
        <i class="fi fi-rr-chess-king header-icon"></i>
        <div class="header-text">
            <h3>OVERSEER</h3>
            <span class="badge-admin">COMMAND CENTER</span>
        </div>
    </div>

    <ul class="sidebar-menu">
        <li class="menu-item active admin-tab-btn" data-target="tab-config">
            <i class="fi fi-rr-settings-sliders"></i>
            <span>Konfigurasi Gerbang</span>
        </li>
        <li class="menu-item admin-tab-btn" data-target="tab-logs">
            <i class="fi fi-rr-time-past"></i>
            <span>Manajemen Log</span>
        </li>
        <li class="menu-item admin-tab-btn" data-target="tab-leaderboard">
            <i class="fi fi-rr-trophy"></i>
            <span>Klasemen Poin</span>
        </li>
        <li class="menu-item admin-tab-btn" data-target="tab-crew">
            <i class="fi fi-rr-users-alt"></i>
            <span>Database Kru</span>
        </li>
    </ul>

    <div class="sidebar-footer">
        <button id="adminLogoutBtn" class="btn-sidebar-logout">
            <i class="fi fi-rr-power"></i> SHUTDOWN
        </button>
    </div>
</aside>